.navigation-1 { 
    background-color: #6b7d9d; 
    margin:0; 
    padding:1px 0; 
    list-style:none; 
    height:21px; 
    font:normal 12px verdana, arial, helvetica; 
}

.navigation-1 li { 
    margin:0; 
    padding:0; 
    display:block; 
    float:left; 
    position:relative; 
    width:130px; 
}

.navigation-1 li a:link,
.navigation-1 li a:visited { 
    padding:4px 0; 
    padding-left: 4px;
    display:block; 
    text-align:left; 
    text-decoration:none; 
    background-color: #6b7d9d; 
    color: white;
    width:130px; 
    height:13px; 
}

.navigation-1 li:hover a,
.navigation-1 li a:hover,
.navigation-1 li a:active { 
    padding:4px 0; 
    padding-left: 4px;
    display:block; 
    text-align:left; 
    text-decoration:none; 
    background:#ddd; 
    color:#243a8b; 
    width:130px; 
    height:13px; 
    border-left:1px solid #6b7d9d; 
    border-right:1px solid #6b7d9d; 
}

        
.navigation-1 li ul.navigation-2 { 
    margin:0; 
    padding:1px 1px 0;
    list-style:none; 
    display:none; 
    background:#6b7d9d; 
    border-bottom: 1px solid #6b7d9d;
    width:160px; 
    position:absolute; 
    top:21px; 
    left:-1px; 
}

.navigation-1 li:hover ul.navigation-2 { 
    display:block; 
    border-bottom: 2px solid #6b7d9d;
}

.navigation-1 li ul.navigation-2 li { 
    width:146px; 
    clear:left; 
}

.navigation-1 li ul.navigation-2 li a:link,
.navigation-1 li ul.navigation-2 li a:visited { 
    clear:left; 
    background:#eee; 
    padding:4px 0; 
    padding-left: 4px;
    width:155px; 
    border:none; 
    border-right:1px solid #6b7d9d; 
    position:relative; z-index:1000; 
}

.navigation-1 li ul.navigation-2 li:hover a,
.navigation-1 li ul.navigation-2 li a:active,
.navigation-1 li ul.navigation-2 li a:hover { 
    clear:left; 
    background:#ddd; 
    padding:4px 0; 
    padding-left: 4px;
    width:146px; 
    border:none; 
    border-right:1px solid #6b7d9d; 
    position:relative; 
    z-index:1000; 
}

.navigation-1 li ul.navigation-2 li ul.navigation-3 { 
    display:none; 
    margin:0; 
    padding:0; 
    padding-left: 4px;
    list-style:none; 
    position:absolute; 
    left:145px; 
    top:-2px; 
    padding:1px 1px 0 1px; 
    border:1px solid gray; 
    border-left:1px solid gray; 
    background:#ffffff; 
    z-index:900; 
}

.navigation-1 li ul.navigation-2 li:hover ul.navigation-3{ 
    display:block; 
}

.navigation-1 li ul.navigation-2 li ul.navigation-3 li a:link,
.navigation-1 li ul.navigation-2 li ul.navigation-3 li a:visited { 
    background:gray; 
}

.navigation-1 li ul.navigation-2 li ul.navigation-3 li:hover a,
.navigation-1 li ul.navigation-2 li ul.navigation-3 li a:hover,
.navigation-1 li ul.navigation-2 li ul.navigation-3 li a:active { 
    background:gray; 
}

.navigation-1 li ul.navigation-2 li a span { 
    position:absolute; 
    top:0; 
    left:132px; 
    font-size:10px; 
    color:#fe676f; 
}

.navigation-1 li ul.navigation-2 li:hover a span,
.navigation-1 li ul.navigation-2 li a:hover span { 
    position:absolute; 
    top:0; 
    left:132px; 
    font-size:10px; 
    color:#ffffff; 
}
