<p><%= col = Colegiado.find(record.colegiado_id).to_label rescue nil
    nice_smart_auto_field(:record, :colegiado_id, col, {:search_fields => [:num_colegiado, :nombre, :apellido1, :apellido2, :doc_identidad], :model => Colegiado, :class => 'autocomplete text-input', :size => 50, :tip => 'especifique términos de búsqueda'}) %></p>
