<h2>Remesa Individual</h2>

<table style="width: 85%;">
  <tr>
    <td><label>Fecha cobro</label></td>
    <td colspan="4"><%= fecha_cobro_form_column(@record, "record[fecha_cobro]") %></td>
  </tr>
</table>
